hrms_app
views_old
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.idea
*.DS_Store
bubble