<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>题目修改</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label">题目</label>
        <div class="layui-input-block">
            <textarea style="height: 100px" type="text" name="quest" lay-verify="required" placeholder="请输入题目" value="" class="layui-input"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">选项A</label>
        <div class="layui-input-block">
            <textarea style="height: 30px" type="text" name="choicea" lay-verify="required" placeholder="请输入选项" value="" class="layui-input"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">选项B</label>
        <div class="layui-input-block">
            <textarea style="height: 30px" type="text" name="choiceb" lay-verify="required" placeholder="请输入选项" value="" class="layui-input"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">选项C</label>
        <div class="layui-input-block">
            <textarea style="height: 30px" type="text" name="choicec" lay-verify="required" placeholder="请输入选项" value="" class="layui-input"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">选项D</label>
        <div class="layui-input-block">
            <textarea style="height: 30px" type="text" name="choiced" lay-verify="required" placeholder="请输入选项" value="" class="layui-input"></textarea>
        </div>
    </div>
    <div class="layui-form-item" style="height: 20px">
        <label class="layui-form-label required">答案</label>
        <div class="layui-input-block">
            <select id="quest_answer" name="answer" lay-verify="required">
                <option value="0">A</option>
                <option value="1">B</option>
                <option value="2">C</option>
                <option value="3">D</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item" style="height: 20px">
        <label class="layui-form-label">分类</label>
        <div class="layui-input-block">
            <select  id="quest_kind" name="kind" lay-verify="required">
                <option value="1">基础知识</option>
                <option value="2">操作系统</option>
                <option value="3">数据库</option>
                <option value="4">硬件基础</option>
                <option value="5">数据结构</option>
                <option value="6">算法</option>
                <option value="7">C++语言</option>
                <option value="8">网络</option>
                <option value="8">互联网应用</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item" style="height: 20px">
        <label class="layui-form-label required">题目难度</label>
        <div class="layui-input-block">
            <select id="quest_dif" name="dif" lay-verify="required">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item"  style="height: 20px">
        <label class="layui-form-label required">分数</label>
        <div class="layui-input-block">
            <select id="quest_score" name="score" lay-verify="required">
                <option value="1">1</option>
                <option value="1.5">1.5</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="5">5</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item" >
        <label class="layui-form-label required">答案说明</label>
        <div class="layui-input-block">
            <textarea style="height: 100px" type="text" name="describe" lay-verify="required" placeholder="请输入解答说明" value="" class="layui-input"></textarea>
        </div>
    </div>
    <div class="layui-form-item"  style="height: 20px">
        <label class="layui-form-label required">状态</label>
        <div class="layui-input-block">
            <select id="quest_stat" name="stat" lay-verify="required">
                <option value="1">开启</option>
                <option value="0">关闭</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">修 改</button>
        </div>
    </div>
</div>
<script src="/static/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;
        var editInfo = localStorage.getItem("question_query_info");
        // 数据回显
        recallData(editInfo)
        //监听提交
        form.on('submit(saveBtn)', function (req) {
            req = req.field
            // alert(JSON.stringify(req))
            // alert(localStorage.getItem("dep_edit_info"))
            req.id = JSON.parse(editInfo).id
            alert(JSON.stringify(req))
            $.ajax({
                type: "POST",
                url: "/question/edit",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(req),
                dataType: "json",
                async: false,
                success:function (data) {
                    var resp = JSON.parse(JSON.stringify(data));
                    if (resp.status == 2000) {
                        layer.alert("编辑题目信息成功", function (){
                            // 关闭
                            var iframeIndex = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(iframeIndex);
                        })
                    }
                },
                error:function (data) {
                    console.log("error resp:" + JSON.stringify(data))
                    layer.msg("系统异常");
                }
            });
            return false;
        });
    });

    function recallData(editInfo) {
        // alert(editInfo)
        var $ = layui.$
        editInfo = JSON.parse(editInfo)
        $("textarea[name=quest]").val(editInfo.quest)
        // layui.form.render("select")
        $("textarea[name=choicea]").val(editInfo.choicea)
        $("textarea[name=choiceb]").val(editInfo.choiceb)
        $("textarea[name=choicec]").val(editInfo.choicec)
        $("textarea[name=choiced]").val(editInfo.choiced)

        // 答案
        $('#quest_answer').val(editInfo.answer)
        layui.form.render("select");
        $('#quest_kind').val(editInfo.kind)
        layui.form.render("select");
        // 难度
        $('#quest_dif').val(editInfo.dif)
        layui.form.render("select");
        $('#quest_score').val(editInfo.score)
        layui.form.render("select");

        $('#stat').val(editInfo.stat)
        layui.form.render("select");

    }
</script>
</body>
</html>